@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>Conditions We Treat</h1>

<ul>
    <li><a href="">Allergic and Non-Allergic Rhinitis</a></li>
    <li><a href="">Asthma</a></li>
    <li><a href="">Acute and Chronic Sinusitis</a></li>
    <li><a href="">Allergic Skin Diseases</a></li>
    <li><a href="">Food Allergy</a></li>
    <li><a href="">Venom or Insect Allergy</a></li>
    <li><a href="">Anaphylaxis</a></li>
</ul>
<hr/>

@*------Rhinitis-----*@
<div>
    <h1>Rhinitis</h1>
    <h2>Allergic Rhinitis</h2>
    
    <p>
        If you have allergic rhinitis, your immune system mistakenly identifies a typically harmless substance as an intruder. This substance is called an allergen. The immune system responds to the allergen by releasing histamine and chemical mediators that typically cause symptoms in the nose, throat, eyes, ears, skin and roof of the mouth.
    </p>
    <p>
        Seasonal allergic rhinitis (hay fever) is most often caused by pollen carried in the air during different times of the year in different parts of the country.
    </p>
    <p>
        Allergic rhinitis can also be triggered by common indoor allergens such as the dried skin flakes, urine and saliva found on pet dander, mold, droppings from dust mites and cockroach particles. This is called perennial allergic rhinitis, as symptoms typically occur year-round.
    </p>
    <p>
        In addition to allergen triggers, symptoms may also occur from irritants such as smoke and strong odors, or to changes in the temperature and humidity of the air. This happens because allergic rhinitis causes inflammation in the nasal lining, which increases sensitivity to inhalants.
    </p>
    <p>
        Many people with allergic rhinitis are prone to allergic conjunctivitis (eye allergy). In addition, allergic rhinitis can make symptoms of asthma worse for people who suffer from both conditions.
    </p>

        <h2>Nonallergic Rhinitis</h2>

<p>Nonallergic rhinitis (vasomotor rhinitis) is a condition that causes chronic sneezing, congestion, or runny nose. While these symptoms are similar to those of allergic rhinitis (hay fever), nonallergic rhinitis is different because, unlike an allergy, it doesn’t involve the immune system. An allergic reaction occurs when the immune system overreacts to an otherwise harmless substance known as an allergen.</p>

    <h3>Symptoms</h3>
    <p>Airborne pollutants or odors, certain foods or beverages, some medications, changes in the weather or underlying chronic health problems can all trigger symptoms of nonallergic rhinitis. These symptoms can come and go, or be constant.</p>

    <p>The most common symptoms of nonallergic rhinitis are:</p>
    <ul>
        <li>Stuffy nose</li>
        <li>Runny nose</li>
        <li>Sneezing</li>
        <li>Postnasal drip</li>
        <li>Unlike the allergic form, nonallergic rhinitis rarely causes itchy nose, eyes or throat.</li>
    </ul>
    <h3>Diagnosis and Treatment</h3>
    <p>It is  important to have an accurate diagnosis so you can manage your condition appropriately. Because the symptoms are so similar, allergy testing is often recommended to rule out allergic rhinitis.</p>

    <p>Nonallergic rhinitis cannot be cured, but many people find relief by avoiding triggers, using a saline rinse solution or by taking over-the-counter or prescription medications.</p>
</div>
<hr />

@*---------Asthma--------*@
<div>
    <h1>Asthma</h1>
    <p>
        Asthma is a chronic disease involving the airways in the lungs. These airways, or bronchial tubes, allow air to come in and out of the lungs.
    </p>
    <p>
        If you have asthma your airways are always inflamed. They become even more swollen and the muscles around the airways can tighten when something triggers your symptoms. This makes it difficult for air to move in and out of the lungs, causing symptoms such as coughing, wheezing, shortness of breath and/or chest tightness.
    </p>
    <p>
        For many asthma sufferers, timing of these symptoms is closely related to physical activity. And, some otherwise healthy people can develop asthma symptoms only when exercising. This is called exercise-induced bronchoconstriction (EIB), or exercise-induced asthma (EIA). Staying active is an important way to stay healthy, so asthma shouldn't keep you on the sidelines. Your physician can develop a management plan to keep your symptoms under control before, during and after physical activity.
    </p>
    <p>
        People with a family history of allergies or asthma are more prone to developing asthma. Many people with asthma also have allergies. This is called allergic asthma.
    </p>
    <p>
        Occupational asthma is caused by inhaling fumes, gases, dust or other potentially harmful substances while on the job.
    </p>
    <p>
        Childhood asthma impacts millions of children and their families. In fact, the majority of children who develop asthma do so before the age of five.
    </p>
    <p>
        There is no cure for asthma, but once it is properly diagnosed and a treatment plan is in place you will be able to manage your condition, and your quality of life will improve.
    </p>
    <p>
        An allergist / immunologist is the best qualified physician in diagnosing and treating asthma. With the help of your allergist, you can take control of your condition and participate in normal activities.
    </p>
</div>
<hr />

    @*-------Sinusitis------*@
    <div>
        <h1>Sinusitis</h1>
<p>
        If you have nasal congestion, facial pressure, cough and thick nasal discharge, you may have rhinosinusitis, commonly referred to as sinusitis.
    </p>
    <p>
        Your sinuses are hollow cavities within your cheekbones, around your eyes and behind your nose. They contain mucus, which helps to warm, moisten and filter the air you breathe. When something blocks the mucus from draining normally, an infection can occur.
    </p>
    <h3>Acute Sinusitis</h3>
    <p>
        Acute sinusitis refers to sinusitis symptoms lasting less than four weeks. Most cases begin as a common cold. Symptoms often go away within a week to 10 days; but in some people, a bacterial infection develops.
    </p>
    <h3>Chronic Sinusitis</h3>
    <p>
        Chronic sinusitis, also referred to as chronic rhinosinusitis, is often diagnosed when symptoms have gone on for more than 12 weeks, despite medical treatment.
    </p>
    <p>
        People with allergic rhinitis or asthma are more likely to suffer from chronic sinusitis. This is because the airways are more likely to become inflamed when allergic rhinitis or asthma are present. Sinusitis may also be caused by an infection, a fungus, deviated nasal septum, nasal polyps or in rare cases an immune system deficiency.
    </p>
</div>
<hr />

@*-----Skin Allergy-----*@

<div>
    <h1>Allergic Skin Diseases</h1>
    <p>
        Irritated skin can be caused by a variety of factors. These include immune system disorders, medications and infections. When an allergen is responsible for triggering an immune system response, then it is an allergic skin condition.
    </p>
    <h3>Dermatitis (Eczema)</h3>
    <p>
        Eczema is the most common skin condition, especially in children. It affects one in five infants but only around one in fifty adults. It is now thought to be due to “leakiness” of the skin barrier, which causes it to dry out and become prone to irritation and inflammation by many environmental factors. Also, some people with eczema have a food sensitivity which can make eczema symptoms worse. In about half of patients with severe atopic dermatitis, the disease is due to inheritance of a faulty gene in their skin called filaggrin. Unlike with urticaria (hives), the itch of eczema is not only caused by histamine so anti-histamines may not control the symptoms. Eczema is often linked with asthma, allergic rhinitis (hay fever) or food allergy. This order of progression is called the atopic march.
    </p>
    <h3>Contact Dermatitis</h3>
    <p>
        Allergic contact dermatitis occurs when your skin comes in direct contact with an allergen. For instance, if you have a nickel allergy and your skin comes in contact with jewelry made with even a very small amount of nickel, you may develop red, bumpy, scaly, itchy or swollen skin at the point of contact.
    </p>
    <p>
        Coming in contact with poison ivy, poison oak and poison sumac can also cause allergic contact dermatitis. The red, itchy rash is caused by an oily coating covering these plants. The allergic reaction can come from actually touching them, or by touching clothing, pets or even gardening tools that have come in contact with the oil.
    </p>
    <h3>(Hives)</h3>
    <p>
        Hives are an inflammation of the skin triggered when the immune system releases histamine. This causes small blood vessels to leak, which leads to swelling in the skin. Swelling in deep layers of the skin is called angioedema. There are two kinds of urticaria, acute and chronic. Acute urticaria occurs at times after eating a particular food or coming in contact with a particular trigger. It can also be triggered by non-allergic causes such as heat or exercise, as well as medications, foods, insect bites or infections. Chronic urticaria is rarely caused by specific triggers and so allergy tests are usually not helpful. Chronic urticaria can last for many months or years. Although they are often uncomfortable and sometimes painful, hives are not contagious.
    </p>
    <h3>Angioedema</h3>
    <p>
        Angioedema is swelling in the deep layers of the skin. It is often seen together with urticaria (hives). Angioedema many times occurs in soft tissues such as the eyelids, mouth or genitals. Angioedema is called "acute" if the condition lasts only a short time such as minutes to hours. Acute angioedema is commonly caused by an allergic reaction to medications or foods. Chronic recurrent angioedema is when the condition returns over a long period of time. It typically does not have an identifiable cause.
    </p>
    <p>
        Hereditary angiodema (HAE) is a rare, but serious genetic condition involving swelling in various body parts including the hands, feet, face, intestinal wall and airways. It does not respond to treatment with antihistamines or adrenaline so it is important to go see a specialist.
    </p>
</div>

<hr/>

@*------Food Allergy------*@

<div>
    <h1>Food Allergy</h1>

    <p>
        If you have a food allergy, your immune system overreacts to a particular protein found in that food. Symptoms can occur when coming in contact with just a tiny amount of the food.
    </p>
    <p>
        Many food allergies are first diagnosed in young children, though they may also appear in older children and adults.
    </p>
    <p>
        Eight foods are responsible for the majority of allergic reactions:
    </p>
    <ul>
        <li>Cow’s milk</li>
        <li>Eggs</li>
        <li>Fish</li>
        <li>Peanuts</li>
        <li>Shellfish</li>
        <li>Soy</li>
        <li>Tree nuts</li>
        <li>Wheat</li>
    </ul>
    <p>
        Many people who think they are allergic to a food may actually be intolerant to it. Some of the symptoms of food intolerance and food allergy are similar, but the differences between the two are very important. If you are allergic to a food, this allergen triggers a response in the immune system. Food allergy reactions can be life-threatening, so people with this type of allergy must be very careful to avoid their food triggers.
    </p>
    <p>
        Being allergic to a food may also result in being allergic to a similar protein found in something else. For example, if you are allergic to ragweed, you may also develop reactions to bananas or melons. This is known as cross-reactivity. Cross-reactivity happens when the immune system thinks one protein is closely related to another. When foods are involved it is called oral allergy syndrome (OAS).
    </p>
    <p>
        Food allergy can strike children and adults alike. While many children outgrow a food allergy, it is also possible for adults to develop allergies to particular foods.
    </p>
    <p>
        Food Protein-Induced Enterocolitis Syndrome (FPIES), sometimes referred to as a delayed food allergy, is a severe condition causing vomiting and diarrhea. In some cases, symptoms can progress to dehydration and shock brought on by low blood pressure and poor blood circulation.
    </p>
    <p>
        Much like other food allergies, FPIES allergic reactions are triggered by ingesting a food allergen. Although any food can be a trigger, the most common culprits include milk, soy and grains. FPIES often develops in infancy, usually when a baby is introduced to solid food or formula.
    </p>
    <p>
        Eosinophilic (ee-uh-sin-uh-fil-ik) Esophagitis (EoE) is an allergic condition causing inflammation of the esophagus. The esophagus is the tube that sends food from the throat to the stomach. Most research suggests that the leading cause of EoE is an allergy or a sensitivity to particular proteins found in foods. Many people with EoE have a family history of allergic disorders such as asthma, rhinitis, dermatitis or food allergy.
    </p>
</div>
<hr/>

    @*-------Venom or Insect Allergy-----*@
<div>
    <h1> Venom and Insect Allergy</h1>

    <p>
        Most of us develop redness and swelling at the site of an insect bite. Yet people who are allergic to stinging insect venom are at risk for a much more serious reaction. This life-threatening reaction is called anaphylaxis (an-a-fi-LAK-sis).
    </p>
    <p>
        Understanding differences in symptoms between a normal reaction and an allergic reaction can bring peace of mind. It is also important to have an accurate diagnosis so you can manage your condition and be prepared for an emergency.
    </p>
    <p>
        An allergic reaction occurs when the immune system overreacts to an allergen. In stinging insect allergy, the allergen is venom from a sting. Most serious reactions are caused by five types of insects:
    </p>
    <ul>
        <li>Yellow jackets are black with yellow markings, found in various climates. Their nests are usually located underground, but sometimes found in the walls of buildings, cracks in masonry or in woodpiles.</li>

        <li>Honeybees have round, fuzzy bodies with dark brown and yellow markings. They can be found in honeycombs in trees, old tires or other partially protected sites.</li>

        <li>Paper wasps are slender with black, brown, red and yellow markings. They live in a circular comb under eaves, behind shutters or in and woodpiles.</li>

        <li>Hornets are black or brown with white, orange or yellow markings. Their nests are gray or brown and are usually found in trees.</li>

        <li>Fire ants are reddish-brown ants living in large mounds, mostly in warmer climates. They attack with little warning, inserting highly concentrated toxins that cause burning and pain.</li>
    </ul>
</div>
<hr/>

    @*------Anaphylaxis------*@
    <h1>Anaphylaxis</h1>

<p>
    Anaphylaxis (an-a-fi-LAK-sis) is a serious, life-threatening allergic reaction. The most common anaphylactic reactions are to foods, insect stings, medications.
</p>
<p>
    If you are allergic to a substance, your immune system overreacts to this allergen by releasing chemicals that cause allergy symptoms. Typically, these bothersome symptoms occur in one location of the body. However, some people are susceptible to a much more serious anaphylactic reaction. This reaction typically affects more than one part of the body at the same time.
</p>
<p>
    Anaphylaxis requires immediate medical treatment, including a prompt injection of epinephrine and a trip to a hospital emergency room. If it isn’t treated properly, anaphylaxis can be fatal.
</p>
<p>
    Certain people are more at risk of anaphylaxis. If you have allergies or asthma and have a family history of anaphylaxis, your risk is higher. And, if you’ve experienced anaphylaxis your risk of having another anaphylactic reaction is increased.
</p>